.content-efectivo_v2 {
    position: relative;
    /* height: 100vh; */
    /* width: 100%; */
    background: linear-gradient(90deg, rgba(252,167,8,1) 0%, rgba(252,75,8,1) 55%);
}
.header_2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.fondo_v2{
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 60px;
}
.title_v2{
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 40px;
    color: white;
}
.backarrow{
    padding: 30px;
}
.fondo-efectivo_v2 {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 80px;
    color: white;
    opacity: .1;
}

.title-text_v2 {
    color: white;
    margin-left: 20px;
    font-weight: 300;
}

.box-efectivo_v2 {
    position: relative;
    /* background-image: url('../Images/bg.jpg'); */
    background-image: url('../../../images/Pagos/Images/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    clip-path: polygon(0 7%, 100% 0, 100% 93%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-efectivo_v2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); 
    z-index: 1;
}

.box-title_v2, .box-text_v2 {
    position: relative;
    z-index: 2; 
}

.box-title_v2 {
    text-align: center;
    width: 300px;
    font-size: 20px;
    color: #ff7300;
    font-weight: 300;
}

.box-text_v2 {
    font-size: 16px;
    color: #ff7300;
}

@media (min-width: 370px) {
    .fondo-efectivo_v2 {
        position: absolute;
        top: -10px;
        left: 0;
        font-size: 130px;
        color: white;
        opacity: .1;
    }
    .title-text_v2 {
        color: white;
        margin-left: 20px;
        font-weight: 300;
    }
    .box-title_v2 {
        text-align: center;
        width: 350px;
        font-size: 25px;
    }
    .box-efectivo_v2 {
        margin-top: 50px;
    }
}

@media (min-width: 640px) {
    .title-text_v2 {
        font-size: 45px;
        color: white;
        margin-left: 30px;
        font-weight: 300;
    }
    .box-efectivo_v2 {
        margin-top: 50px;
    }
}

@media (min-width: 1024px) {
    .box-title_v2 {
        font-size: 40px;
        width: 550px;
        font-weight: 300;
    }
    .box-text_v2 {
        font-size: 25px;
        color: #ff7300;
    }
    .box-efectivo_v2 {
        height: 500px;
    }
}